<!-- Single Slot content projection -->
<app-single-slot-content-projection>
  <p>single-slot-content-projection works!</p>
</app-single-slot-content-projection>
<!---------------------->

<!-- Multi slot content projection -->
<app-multi-slot-content-projection>
  <p>multi-slot-content-projection works!</p>
  <p question>Multi slot</p>
  <p welcome>Welcome</p>
</app-multi-slot-content-projection>
<!--------------------->

<!-- Conditional content projection -->
<app-conditional-content-projection [check]="true">
  <p hello>Conditional content projection</p>
</app-conditional-content-projection>

<!--------------------->